* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
}

.scene-container {
  width: 100%;
  height: 100%;
  display: block;
}

.scene-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
